<body>
    <div class="mainLoginCont">
        <div class="LoginImg">
        
        </div>
        <div class="loginContiner">
            <div>
                <h3>Sign In</h3>
                <form action="" *ngIf="!isSuccessful" class="border p-3 rounded-3" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <p>Name</p>
                    <input type="text" placeholder="Name">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <a routerLink="/">SignIn</a>
                </form>
            </div>
        </div>
    </div>
</body>



<!-- <body>
    <div class="mainLoginCont">
        <div class="LoginImg">
        
        </div>
        <div class="loginContiner">
            <div>
                <h3>Sign In</h3>
                <form action="">
                    <p>Name</p>
                    <input type="text" placeholder="Name">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <p>user id</p>
                    <input type="text" placeholder="user id">
                    <a routerLink="/">SignIn</a>
                </form>
            </div>
        </div>
    </div>
</body>
 -->
