<body>
    <div class="AdminNav">
        <div class="AdminLogo">
            <h2>AdminPannel</h2>
        </div>

        <div class="AdminLinks">
            <a routerLink="/admin">Flight Details</a>
            <a routerLink="/bookingData">Booking Details</a>
            <a href="">Check In</a>
            <!-- <a href="">Table4</a>
            <a href="">Table5</a> -->
        </div>

        <div class="Adminbtn">
            <button>Logout</button>
        </div>

    </div>

    <div class="AdminMainCont">
        <div class="AdminOptions">
            <h2>Flight Details</h2>
            <button routerLink="/addFlight">Add Flight</button>
            <button>Delete</button>
            <button>Edit</button>
            <input type="search" placeholder="Search by Id..." name="" id="">
        </div>
        
        <div class="DataTable">
            
            <table>
                <tr>
                    <th><input type="checkbox" name="" id=""> </th>
                    <th>id </th>
                    <th>form </th>
                    <th>to </th>
                    <th>price </th>
                    <th>total seat </th>
                    <th>Avialble seat</th>
                    <th>departure date</th>
                    <th>flight id</th>
                    <th>flight no</th>
                    <th>departure time</th>
                    <th>avilable time</th>
                   
                </tr>
                
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>12345678910</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    
                </tr>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                    <td>data1</td>
                </tr>
                
            </table>
        </div>
    </div>

</body>