
/* form{
    width: 500px;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */




form{
    
   box-shadow:  -11px 15px 26px -5px rgb(0 0 0 / 58%);
}
