
<body>
    <div class="mainLoginCont">
        <div class="LoginImg">
            
        </div>
        <div class="loginContiner">
            <div>
                <h3>Login</h3>
                <form action="">
                    <p>user Name</p>
                    <input type="text" placeholder="User Name">
                    <p>password</p>
                    <input type="password" placeholder="password">
                    <a routerLink="/home">Login</a>
                </form>
                <a class="signup_link" routerLink="/signup">I dont have an account!</a>
                <br><br><a class="signup_link" routerLink="/loginadmin">Login as admin</a>
            </div>
        </div>
    </div>
</body>
