
<body>
    <div class="mainLoginCont">
        <div class="LoginImg">
        
        </div>
        <div class="loginContiner">
            <div>
                <h3>Login as Admin</h3>
                <form action="">
                    <p>Name</p>
                    <input type="text" placeholder="Name">
                    <p>password</p>
                    <input type="password" placeholder="password">
                    <a routerLink="/admin">Login</a>
                </form>
            </div>
        </div>
    </div>
</body>

